<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./common/header.ejs %>
</head>

<body>
    <div class="box">
        <% include ./common/nav.ejs %>
            <main>
                <div class="slider">
                    <div id="carouselExampleIndicators" class="carousel slide newsSlider" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="sliderimg" src="/images/news_b1.jpg" alt="" width="100%">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="sliderimg" src="/images/news_b2.jpg" alt="" width="100%">
                                <div class="carousel-caption d-none d-md-block">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagenews">
                    <div class="pagenews-title">
                        <h3>新闻活动</h3>
                    </div>
                    <div class="pagenews-list" id="pageNewsList"></div>
                    <script type="text/html" id="pageNewsList_temp">
                        {{each news n}}
                        <div class="pagenews-item col-md-4">
                            <div class="item-img">
                                <a href="/news/tonewsdetail/{{n.id}}">
                                    <img src= '{{ n.imgPath }}' onerror="null;src='/images/noimg.jpg'" width="100%" height="378px">
                                </a>
                            </div>
                            <div class="item-info">
                                <div class="info-title">
                                    <h4>{{n.title}}</h4>
                                </div>
                                <div class="info-operate">
                                    By
                                    <span class="author">{{n.name}}</span>
                                    <i class="time-icon"></i>
                                    <span class="time">{{n.time | dateFormat "yyyy-MM-dd hh:mm:ss"}}</span>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </script>
                    <div class="pager-news" id="pager"></div>
                    <script type="text/html" id="pager_temp">
                        <ul>
                            <li class="prev">
                                <a href="javascript:;">
                                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            {{each pages p}}
                                {{ if ( p == pageNow) }}
                                    <li class="active" data-index="{{p}}">
                                        <a href="javascript:;">{{p}}</a>
                                    </li>
                                {{else if (p != pageNow)}}
                                    <li class="" data-index="{{p}}">
                                        <a href="javascript:;">{{p}}</a>
                                    </li>
                                {{/if}}
                            {{/each}}
                            <li class="next">
                                <a href="javascript:;">
                                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </script>
                </div>
            </main>
            <% include ./common/contact.ejs %>
            <% include ./common/scroll.ejs %>
    </div>
    <script>
        var pageSize = 6;
        var pageNow = 1;
        var pages = [];
        function getNews(pageSize, pageNow) {
            $.get("/news/getNews", { pageSize, pageNow }).done(data => {
                console.log(data)
                if (data.code != 200) {
                    layer.msg(data.message)
                    return;
                }
                if (data.message == "数据为空") {
                    $("#pagenewsList").html("<div class='text-center' style='padding:100px 0;color:#fff;'>健身房暂时还没有新闻<^_^></div>")
                } else {
                    $("#pageNewsList").html(template("pageNewsList_temp", { news: data.news }));
                    getPages("", pageSize, pageNow);
                }
            }).fail(err => {
                throw err;
            })
        }
        function getPages(keywords, pageSize, pageNow) {
            $.get("/news/getPages", { keywords, pageSize, pageNow }).done(data => {
                console.log(data);
                if (data.code != 200) {
                    layer.msg(data.message);
                    return;
                }
                pages = data.pages;
                $("#pager").html(template("pager_temp", { pages, pageNow: data.pageNow }))
                $(".pager-news li").each(function (i, v) {
                    $(v).click(function () {
                        if (i != 0 && i != $(".pager-news li").length - 1) {
                            pageNow = Number.parseInt($(v).data("index"));
                        } else if (i == 0) {
                            pageNow == 1 ? pageNow = 1 : pageNow--;
                        } else if (i == $(".pager-news li").length - 1) {
                            pageNow == $(".pager-news li").length - 2 ? pageNow = $(".pager-news li").length - 2 : pageNow++;
                        }
                        getNews(pageSize, pageNow);
                        $(".pager-news li").eq(pageNow).addClass("active").siblings().removeClass("active");
                    })
                })
            }).fail(err => {
                throw err;
            })
        }
        getNews(pageSize, pageNow);
        function bindClick() {
            $(".pager-news li").each(function (i, v) {
                $(v).click(function () {
                    if (i != 0 && i != $(".pager-news li").length - 1) {
                        pageNow = Number.parseInt($(v).data("index"));
                    } else if (i == 0) {
                        pageNow == 1 ? pageNow = 1 : pageNow--;
                    } else if (i == $(".pager-news li").length - 1) {
                        pageNow == $(".pager-news li").length - 2 ? pageNow = $(".pager-news li").length - 2 : pageNow++;
                    }
                    $(".pager-news li").eq(pageNow).addClass("active").siblings().removeClass("active");
                })
            })
        }
        $(function () {
            $('.carousel').carousel({
                interval: 2000
            })
        })

    </script>
</body>

</html>