<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./common/header.ejs %>
    <style>
        .d-flex {
            align-items: center;
        }

        .display-5 {
            width: 200px;
            text-align: justify;
            text-align: left;
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;

        }
    </style>
</head>

<body class="box">
    <nav class="site-header sticky-top py-1" style="background-color: #000;">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2 d-none d-md-inline-block  text-white" href="/">首页</a>
            <a class="py-2 d-none d-md-inline-block  text-white" href="/news/tonews">新闻</a>
            <a class="py-2 d-none d-md-inline-block  text-white" href="/news/topost">发布</a>
            <a class="py-2 d-none d-md-inline-block  text-white" href="/users/tospace/<%= userId %>">个人中心</a>
        </div>
    </nav>
    <div class="d-flex info-list" id="infoList"></div>
    <script type="text/html" id="infoList_temp">
        <div class="d-md-flex flex-md-equal w-100 my-md-3">
            <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-white text-center overflow-hidden  col-md-6">
                <div class="my-3 d-flex">
                    <h2 class="display-5">姓名</h2>
                    <p class="lead">{{user.name}}</p>
                </div>
                <div class="my-3 d-flex">
                    <h2 class="display-5">账号</h2>
                    <p id="account" class="lead">{{user.account}}</p>
                </div>
                <div class="my-3 d-flex">
                    <h2 class="display-5">手机号</h2>
                    <p id="phone" class="lead">{{user.phone}}</p>
                </div>
                <div class="my-3 d-flex">
                    <h2 class="display-5">注册时间</h2>
                    <p class="lead">{{user.createTime | dateFormat "yyyy-MM-dd hh:mm:ss"}}</p>
                </div>
                <div class="my-3 d-flex">
                    <h2 class="display-5">VIP状态</h2>
                    <p class="lead">{{ user.status == 0 ? "普通VIP" : (user.status == 1 ? "超级VIP" : "游客") }}</p>
                </div>
                <div class="my-3 d-flex">
                    <h2 class="display-5">我的教练</h2>
                    <p class="lead">{{user.teach}}</p>
                </div>
            </div>
            <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden col-md-6">
                <div class="my-3 d-flex justify-content-center">
                    <h2 class="display-5">我的教练</h2>
                    <p class="lead">{{user.teach}}</p>
                </div>
                <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    <img src="{{user.tlogo || '/images/default-logo.jpg'}}" width="100%" height="100%" alt="">
                </div>
            </div>
            <!-- <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden col-md-6">
                <div class="my-3 d-flex  p-3">
                    <h2 class="display-5">头像</h2>
                    <p class="lead"></p>
                </div>
                <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                    <img src="{{user.logo || '/images/default-logo.jpg'}}" width="100%" height="100%" alt="">
                </div>
            </div> -->
        </div>

        
        
    </script>

    <script>
        $.post("/users/getUser/<%= userId %>").done(data => {
            // console.log(data);
            if (data.code != 200) {
                layer.msg(data.message);
                return;
            }
            console.log(data.info)
            $("#infoList").html(template("infoList_temp", { user: data.info }))
        }).fail(err => {
            throw err;
        })
    </script>
</body>

</html>