<title>
    <%= title %>
</title>
<meta charset="utf-8">
<meta name="keywords" content="健身、健身房">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/libs/bootstrap.min.css">
<link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/libs/layui/css/layui.css">
<link rel="stylesheet" href="/libs/webuploader/webuploader.css">
<script src="/libs/jquery.min.js"></script>
<script src="/libs/jquery.cookie.min.js"></script>
<script src="/libs/bootstrap.min.js"></script>
<script src="/libs/layui/layui.all.js"></script>
<script src="/libs/template-web.js"></script>
<script src="/javascripts/common/utils.js"></script>
<script src="/libs/wangEditor/wangEditor.min.js"></script>
<script src="/libs/jquery.html5uploader.js"></script>
<script src="/libs/webuploader/webuploader.min.js"></script>
